body {
  background-image: url(https://mir-s3-cdn-cf.behance.net/project_modules/disp/ec934d33955474.56be98c32fd6f.gif);
  background-size: cover;
  text-align: center;
}

h1 {
  color: white;
}

p {
  color: white;
}

.Choix1 {

}
